<ion-view>

  <ion-content class="detail" style="background: #e4e4e4">
    <div class="top">
      <h1>中央和国家机关人员差旅费查询</h1>
      <a class="back-btn ion-chevron-left" href="#/tab/dash"></a>
      <div class="search-end">
        <a href="#/tab/search" style="display: inline-block;line-height: 2rem;position: relative" class="ion-ios-location-outline">
          {{searchdetail}}-{{weathercity}}
          <i style="width: 1rem;height: 1rem;line-height:1rem;position: absolute;top: 0.5rem;right: -1rem" class="ion-ios-arrow-down"></i>
        </a>
      </div>
    </div>
<!--    <ul>
      <li ng-repeat="b in cityinfo">{{b.name}}</li>
    </ul>-->
    <div class="info-col  chats-info tianqi"  id="weatherdiv" >
      <h1 class="title">{{weathercity}}-天气预报</h1>


        <div id="weathertip" class="weathertip"></div>

    </div>
    <div class="chat-tab" ng-init="activeTab = 1">
      <div class="chat-tab-btn buji" ng-class="{active: activeTab == 1}" ng-click="activeTab = 1">
        <p>部级及相当人员</p>
      </div>
      <div class="chat-tab-btn juji" ng-class="{active: activeTab == 2}" ng-click="activeTab = 2">
        <p>局级及相当人员</p>
      </div>
      <div class="chat-tab-btn other" ng-class="{active: activeTab == 3}" ng-click="activeTab = 3">
        <p>其他人员</p>
      </div>
    </div>
    <!--部级-->
    <div class="tab-show">
      <div class="info-col chats-info zhusu">
      <h1 class="title">住宿补助（人/天）</h1>
      <div class="table t-c" >
        <table ng-show="activeTab == 1">
          <tr ng-repeat="b in cityinfo">
            <td>{{b.city}}</td>
            <td>{{b.time}}</td>
            <td>{{b.level1}}</td>
          </tr>
        </table>
        <table ng-show="activeTab == 2">
          <tr ng-repeat="b in cityinfo">
            <td>{{b.city}}</td>
            <td>{{b.time}}</td>
            <td>{{b.level2}}</td>
          </tr>
        </table>
        <table ng-show="activeTab == 3">
          <tr ng-repeat="b in cityinfo">
            <td>{{b.city}}</td>
            <td>{{b.time}}</td>
            <td>{{b.level3}}</td>
          </tr>
        </table>
      </div>
    </div>
      <!--火车-->
      <div class="info-col chats-info huoche">
        <h1 class="title">火车 <span> （含高铁动车 全列软席列车）</span></h1>
        <p ng-show="activeTab == 1">火车软席（软座 软卧）高铁/动车商务座 全列软席列车一等软座</p>
        <p ng-show="activeTab == 2">火车软席（软座 软卧）高铁/动车商务座 全列软席列车一等软座</p>
        <p ng-show="activeTab == 3">火车硬席（硬座 硬卧）高铁/动车二等座 全列软席列车二等软座</p>

      </div>
      <!--轮船-->
      <div class="info-col chats-info lunchuan">
        <h1 class="title">轮船 <span>（不含旅游船）</span></h1>
        <p ng-show="activeTab == 1">一等舱</p>
        <p ng-show="activeTab == 2">二等舱</p>
        <p ng-show="activeTab == 3">三等舱</p>
      </div>
      <!--飞机-->
      <div class="info-col chats-info feiji">
        <h1 class="title">飞机</h1>
        <p ng-show="activeTab == 1">头等舱</p>
        <p ng-show="activeTab == 2">经济舱</p>
        <p ng-show="activeTab == 3">经济舱</p>
      </div>
    </div>

    <!--其他交通工具-->
    <div class="info-col chats-info qitagongju">
      <h1 class="title">其他交通工具 <span>（不包括出租小汽车）</span></h1>
      <p>凭据报销</p>
      <p>* 部级及相当职务人员出差，因工作需要，随行一人可乘坐同等级交通
        工具</p>
      <p>* 乘坐飞机的，民航发展基金，燃油附加费可以凭据报销。</p>
      <p>* 乘坐飞机，火车，轮船等交通工具的，每人可购买交通意外保险一份。
        所在单位统一购买交通意外保险的，不再重复购买。</p>
    </div>
    <!--市内交通费-->
    <div class="info-col chats-info shineijiaotong">
      <h1 class="title">市内交通费（人/天）</h1>
      <p>* 按出差自然（日历）天数计算，每人每天80元包干使用。</p>
      <p>* 出差人员由接待单位或其他单位提供交通工具的，应向接待单位或其
        他单位缴纳相关费用。</p>

    </div>
    <!--伙食补助-->
    <div class="info-col chats-info huoshi">
      <h1 class="title">伙食补助费（人/天）</h1>
      <p>* 按出差自然（日历）天数计算，按规定包干使用。</p>
      <p>* 出差人员应当自行用餐。凡由接待单位统一安排用餐的，应当向接待
        单位缴纳伙食费。</p>
      <p>* 通常情况下：西藏自治区，青海省，新疆省伙食费120元，其他
        省市一律100元。（该项内容仅供参考，具体以给地财政局标准为准。）</p>

    </div>
    <ul class="footerli">
      <li>以上内容摘自《中央和国家机关差旅费管理办法》财行[2013]531号 </li>
      <li>《关于调整中央和国家机关差旅住宿费标准等有关问题的通知》
        财行[2015]497号。</li>
      <li>
        <a style="color: #207db8" href="http://mp.weixin.qq.com/s?__biz=MjM5MDc1Mjc2MQ==&mid=503749009&idx=4&sn=34eb4eb2f71002810108903fff7e6e18#rd">
          注：针对差旅中遇到的特殊情况，请点击阅读《中央和国家机关差旅费管理办法有关问题的解答》
        </a>
      </li>
    </ul>

    <div class="footer">
      <p style="text-align: center"><img src="./img/er.bmp" alt=""/></p>
      <p>若您在使用过程中遇到问题 <br/>请致电：010-69001234</p>
      <p>中央机构编制委员会办公室&nbsp;&nbsp;&nbsp;&nbsp;版权所有</p>


    </div>
  </ion-content>
</ion-view>
