<ion-view>

  <ion-content class="" style="background: #e4e4e4">
    <div class="top">
      <h1>中央和国家机关人员差旅费查询</h1>
      <div class="top-search">
        <a  href="#/tab/search" class="ion-ios-location-outline">
          全国
        </a>
        <div class="search-input ion-ios-search">
          <input type="text" name="" id="inputLocation" class="inputLocation"  onfocus='this.value=""' ng-model="inputLocation" placeholder="请输入城市/区县全程"/>
        </div>
        <a style="float: right; width: 10%;border-right: none;position: absolute;right: 1rem;top: 0rem;height: 2rem;line-height: 2rem;" ng-click="jump()">提交</a>

      </div>
    </div>


    <div class="hot-local info-col">
      <h1 class="title">热门城市</h1>
      <ul>
        <li><a href="#/tab/chats/北京">北京</a></li>
        <li><a href="#/tab/chats/上海">上海</a></li>
        <li><a href="#/tab/chats/广州">广州</a></li>
        <li><a href="#/tab/chats/天津">天津</a></li>
        <li><a href="#/tab/chats/三亚">三亚</a></li>
        <li><a href="#/tab/chats/厦门">厦门</a></li>
        <li><a href="#/tab/chats/沈阳">沈阳</a></li>
        <li><a href="#/tab/chats/拉萨">拉萨</a></li>
      </ul>
    </div>
    <div class="info-col hot-local-img">
      <h1 class="title">热门区县推荐</h1>
      <ul>
        <li>
          <a href="#/tab/chats/乌镇">
          <div class="img-div">

            <img src="./img/mudidi/wuzhen.jpg" alt=""/>
          </div>
          <span>乌镇</span></a>
        </li>
        <li>
          <a href="#/tab/chats/九寨沟">
          <div class="img-div">

            <img src="./img/mudidi/jiuzhai.jpg" alt=""/>
          </div>
          <span>九寨沟</span></a>
        </li>
        <li>
          <a href="#/tab/chats/凤凰县">
          <div class="img-div">

            <img src="./img/mudidi/fenghuang.jpg" alt=""/>
          </div>
          <span>凤凰县</span></a>
        </li>
        <li>
          <a href="#/tab/chats/景德镇">
          <div class="img-div">

            <img src="./img/mudidi/jingde.jpg" alt=""/>
          </div>
          <span>景德镇</span></a>
        </li>
        <li>
          <a href="#/tab/chats/白洋淀">
          <div class="img-div">

            <img src="./img/mudidi/baiyangdian.jpg" alt=""/>
          </div>
          <span>白洋淀</span></a>
        </li>
        <li>
          <a href="#/tab/chats/西柏坡">
          <div class="img-div">

            <img src="./img/mudidi/xibaipo.jpg" alt=""/>
          </div>
          <span>西柏坡</span></a>
        </li>
        <li>
          <a href="#/tab/chats/海棠区">
          <div class="img-div">

            <img src="./img/mudidi/haitangqu.jpg" alt=""/>
          </div>
          <span>海棠区</span></a>
        </li>
        <li>
          <a href="#/tab/chats/延庆">
          <div class="img-div">

            <img src="./img/mudidi/yanqing.jpg" alt=""/>
          </div>
          <span>延庆</span></a>
        </li>
      </ul>
    </div>
    <div class="info-col hot-travel">
      <h1 class="title">出差攻略</h1>
      <ul>
        <li>
          <div class="img-div">
            <img src="./img/local.jpg" alt=""/>
          </div>

          <h1>2016年差旅住宿费和伙食补助费标准
            一览表</h1>
          <p>2015年10月20日，财政部网站披露《关于
            调整中央和国家机关差旅住宿标准等有关</p>
        </li>
        <li>
          <div class="img-div">
            <img src="./img/local.jpg" alt=""/>
          </div>

          <h1>2016年差旅住宿费和伙食补助费标准
            一览表</h1>
          <p>2015年10月20日，财政部网站披露《关于
            调整中央和国家机关差旅住宿标准等有关</p>
        </li>
        <li>
          <div class="img-div">
            <img src="./img/local.jpg" alt=""/>
          </div>

          <h1>2016年差旅住宿费和伙食补助费标准
            一览表</h1>
          <p>2015年10月20日，财政部网站披露《关于
            调整中央和国家机关差旅住宿标准等有关</p>
        </li>
      </ul>
    </div>


  </ion-content>
</ion-view>
