<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <link href="../css/style.css" rel="stylesheet">

</head>
<body>
<table STYLE="font-family: weather;font-size: 40px">
    <tbody>
    <tr>
        <td>A</td>
        <td>B</td>
        <td>C</td>
        <td>D</td>
        <td>E</td>
        <td>F</td>
        <td>G</td>
    </tr>
    <tr>
        <td>H</td>
        <td>I</td>
        <td>G</td>
        <td>K</td>
        <td>L</td>
        <td>M</td>
        <td>N</td>
    </tr>
    <tr>
        <td>O</td>
        <td>P</td>
        <td>Q</td>
        <td>R</td>
        <td>S</td>
        <td>T</td>
    </tr>
    <tr>
        <td>U</td>
        <td>V</td>
        <td>W</td>
        <td>X</td>
        <td>Y</td>
        <td>Z</td>
    </tr>
    </tbody>
</table>
<hr/>
小写字母
<table STYLE="font-family: weather;font-size: 40px">
    <tr>
        <td>a</td>
        <td>b</td>
        <td>c</td>
        <td>d</td>
        <td>e</td>
        <td>f</td>
        <td>g</td>
    </tr>
    <tr>
        <td>h</td>
        <td>i</td>
        <td>j</td>
        <td>k</td>
        <td>l</td>
        <td>m</td>
        <td>n</td>
    </tr>
    <tr>
        <td>o</td>
        <td>p</td>
        <td>q</td>
        <td>r</td>
        <td>s</td>
        <td>t</td>
    </tr>
    <tr>
        <td>u</td>
        <td>v</td>
        <td>w</td>
        <td>x</td>
        <td>y</td>
        <td>z</td>
    </tr>
</table>
<table STYLE="font-family: weather;font-size: 30px">
    <tr>
        <td>1</td>
        <td>2</td>
        <td>3</td>
        <td>4</td>
        <td>5</td>
        <td>6</td>
        <td>7</td>
        <td>8</td>
        <td>9</td>
        <td>0</td>
        <td>-</td>
    </tr>
</table>
</body>
</html>